<header class="root-header">
    <h1>Welcome to FunTimesTwitch: A <a href="http://twitch.tv">Twitch.tv</a> Clone!</h1>
</header>

<script>


$(document).ready(function(){
  $(".right-sidebar-buttons-wrapper a.a-other").text("News");
  var $news = $(".2-wrapper");
})
</script>