<h3>Sign In!</h3>
<form action="<%= session_url %>" method="POST" class="session-form">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  <label>Username:<input type="text" name="user[username]"><br></label>
  <label>Password:<input type="password" name="user[password]"><br></label><br>
  <input type="submit" value="Sign In!" class="pseudo-button"><br><br>
</form>