html,head, body, div, a, p{
  padding:0;
  margin:0;
  border:0;
  font-family:sans-serif;
}

a:link {
  text-decoration:none;
  color:inherit;
}
a:visited {
  text-decoration:none;
  color:inherit;
}
a:hover {
  text-decoration:underline;
}
a:active {
  text-decoration:underline;
}
.left-sidebar{
  /*border:5px solid green;*/

  background-color:#222222;
  color:white;
  position:fixed;
  width:240px;
  height:100%;
}
.left-sidebar > ul{
  padding:0;
  border:0;
  margin:0;
}
.main-content{
  position:relative;
  padding:10px;
  margin-left: 240px;
  margin-right:340px;
/*  border:5px solid red;*/
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}
.right-sidebar{
/*  border:5px solid blue;*/
  position:fixed;
  background-color:#cccccc;
  right:0;
  top:0;
  width:340px;
  height:100%;
}
.group:after{
  content:"";
  display:block;
  clear:both;
}
.user-logo{
  float:left;
}
.page-show-header{
  margin:20px;
}
.page-show-header img{
  border:5px solid black;
}
.page-show-title{
  padding:20px;
  width:800px;
  margin:auto;
  font-size:44px;
}
.container{
  border: 5px solid orange;
  float:left;
  font-size:20px;
  width:400px;
  margin:20px;
  padding:20px;
  /*background-color:rgba(255,255,255,0.5);*/
}
.container-section{
  background-color:rgba(255,255,255,0.5);
}
.container img{
  max-width:400px;
  height:auto;
}
.comment-area{
  background:#ccc;
  border:5px solid red;
  padding:5px;
}
li.collapsed ul{
  display:none;
}
.comment-body{
  padding-bottom:5px;
  padding-left:50px;
}
.comment-area a{
  padding-top:10px;
  padding-right:10px;
  text-decoration:none;
  float:left;
}
.comment-area p{
  padding-top:10px;
  padding-right:10px;
  text-decoration:none;
  float:left;
}
.comment-area a.reply, a.deleteComment{
  float:none;
}
.comment-area img{
  float:left;
  margin-right:10px;
}
.replyBox{
  display:none;
}
.follows-area{
  margin:0;
}
.follows-area ul{
  list-style-type:none;
  padding:0;
  margin:0;
}
.follow-area{
/*  border:5px solid red;*/
/*  padding:10px;*/
}
.follow-area li{
  border:3px outset #ccc;
  background:#222222;
  padding:5px;
}
.follow-name{
  padding:5px 0 5px 5px;
  padding-top:8px;
  padding-left:50px;
}
.follow-area img{
  border: 2px outset white;
  float:left;
}
.embed_live{
  border: 10px solid pink;
  display:block;
  margin:auto;
}
.comments-container ul {
  list-style-type:none;
}
.comments-container img{
  border: 2px outset white;
}
