html,head, body, div, a, p, img{
  padding:0;
  margin:0;
  border:0;
  font-family:sans-serif;
}
body{
  overflow-x:hidden;
}

a:link {
  text-decoration:none;
  color:inherit;
}
a:visited {
  text-decoration:none;
  color:inherit;
}
a:hover {
  text-decoration:underline;
}
a:active {
  text-decoration:underline;
}

/* giant containers */

.left-sidebar{
  background-color:#222222;
  color:white;
  position:fixed;
  width:240px;
  height:100%;
}
.left-sidebar > ul{
  padding:0;
  border:0;
  margin:0;
}
.main-content{
  position:relative;
  margin-left: 240px;
  margin-right:340px;
  height: 100%;
}
.right-sidebar{
  position:fixed;
  background-color:#cccccc;
  right:0;
  top:0;
  width:340px;
  height:100%;
}

/* utility */

.group:after{
  content:"";
  display:block;
  clear:both;
}

/* top part of pages#show */

.user-logo{
/*  float:left;*/
}
.page-show-header{
  margin:20px;
}
.page-show-link{
  float:left;
  position:relative;
  display:block;
  width:80px;
  border:5px outset white;
  margin-right:20px;
}
.page-show-link img{
  display:block;
}

.page-show-img-overlay{
  padding:15px;
  position:absolute;
  display:none;
  top:0;
  left:0;
  width:50px;
  height:50px;
  background:rgba(30,30,30,0.9);
  color:white;
}
.page-show-link:hover .page-show-img-overlay{
  display:block;
}

.page-show-title{
  padding:20px;
  width:800px;
/*  margin:auto;*/
  font-size:44px;
}

/* pages#show container */

.container{
/*  border: 5px solid orange;*/
/*  float:left;*/
  font-size:20px;
  width:320px;
  margin-bottom:20px;
  display:inline-block;
/*  margin-left:30px;*/

/*  padding:20px;*/
}
.container-section{
  margin:auto;
}

/* resizing container stuff */

@media all and (min-width: 680px){
  .right-hide.left-hide .container-wrapper{
    margin:auto;
    width:680px;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 1040px){
  .right-hide.left-hide .container-wrapper{
    margin:auto;
    width:1040px;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 940px){
  .right-hide .container-wrapper{
    margin:auto;
    width:680px;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 1300px){
  .right-hide .container-wrapper{
    margin:auto;
    width:1040px;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 1040px){
  .left-hide .container-wrapper{
    margin:auto;
    width:680px;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 1400px){
  .left-hide .container-wrapper{
    margin:auto;
    width:1040px;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}

@media all and (min-width: 0){
  .container-wrapper{
    margin:auto;
    width:320px;
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 1280px){
  .container-wrapper{
    margin:auto;
    width:680px;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}
@media all and (min-width: 1640px){
  .container-wrapper{
    margin:auto;
    width:1040px;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;
    column-width:320px;
    -moz-column-width:320px; /* Firefox */
    -webkit-column-width:320px; /* Safari and Chrome */
  }
}

.container img{
  width:320px;
  height:auto;
}
.side-containers{
  height:100px;
  position:relative;
  overflow-y:scroll;
}

/* Left sidebar follows list */

.follows-area{
  margin:0;
}
.follows-area ul{
  list-style-type:none;
  padding:0;
  margin:0;
}
.follow-area{
/*  border:5px solid red;*/
/*  padding:10px;*/
}
.follow-area li{
  border:3px outset #ccc;
  background:#222222;
  padding:5px;
}
.follow-area img:hover{
  cursor:move;
}
.follow-name{
  padding:5px 0 5px 5px;
  padding-top:8px;
  padding-left:50px;
}
.follow-area img{
  border: 2px outset white;
  float:left;
}


.embed_live{
/*  border: 10px solid pink;*/
  display:block;
  margin:auto;
}

/* comments (videos#show) */
.comment-area{
  background:#ccc;
  border:5px solid red;
  padding:5px;
}
li.collapsed ul{
  display:none;
}
.comment-body{
  padding-bottom:5px;
  padding-left:50px;
}
.comment-area a{
  padding-top:10px;
  padding-right:10px;
  text-decoration:none;
  float:left;
}
.comment-area p{
  padding-top:10px;
  padding-right:10px;
  text-decoration:none;
  float:left;
}
.comment-area a.reply, a.deleteComment{
  float:none;
}
.comment-img{
  float:left;
  margin-right:10px;
}

.replyBox{
  display:none;
}

.comments-container ul {
  list-style-type:none;
}
.comments-container img{
  border: 2px outset white;
}


/* Left sidebar username and logout button */
.top-left{
  padding:20px 10px 20px 20px;
}

.user-name{
  float:left;
  padding-right:20px;
/*  padding:10px;*/
}
.logout{
}

/* Notifications for user status changes! */

.notifications{
  background-color:rgba(233,233,233,1);
  width:300px;
  padding:20px;
  font-weight:bold;
  position:fixed;
  bottom:0;
  display:none;
  border:5px outset red;
}
.notifications img{
  width:40px;
  height:auto;
  float:left;
}
.notification-text{
  padding:10px 0 0 10px;
}

/*Top Sliver to hide left and right sidebars! */

.side-hider{

  padding:0 10px 0 10px;
}
.side-hider-left{
  float:left;
}
.side-hider-right{
  float:right;
}

/* pages#show view */

.page-show-bg{
  position:absolute;
  z-index:-1;
}

.gradient{
  position:absolute;
  z-index:-1;
  background: -webkit-linear-gradient(top, rgba(233,233,233,0), rgba(233,233,233,0.8), rgba(233,233,233,1)); /* For Safari */
  background: -o-linear-gradient(bottom, rgba(233,233,233,0), rgba(233,233,233,0.8), rgba(233,233,233,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(233,233,233,0), rgba(233,233,233,0.8), rgba(233,233,233,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(233,233,233,0), rgba(233,233,233,0.8), rgba(233,233,233,1)); /* Standard syntax (must be last) */
}

/* pages#edit view */

.new-container{
/*  display:none;*/
}

/* Right sidebar chat stuff */
.right-sidebar{
  border-left:1px solid #aaa;
}
.right-sidebar-buttons{
  padding-top:20px;
  background-color:#e5e5e5;
  height:50px;
  border-bottom:1px solid #aaa;
}
.right-sidebar-buttons-wrapper{
  margin:auto;
  width:250px;
}
.right-sidebar-buttons a{
  padding:5px 35px 5px 35px;
  margin:0;
  background-color:#ededed;
  border:1px solid #aaa;
}
.right-sidebar-buttons a:hover{
  text-decoration:none;
}
.right-sidebar-buttons a.current-tab{
  background-color:#cccccc;
  color:white;
}
.chat-window{
  position:relative;
  overflow-y:scroll;
  overflow-x:hidden;
  height:100px;
  padding-left:10px;
  border-bottom:1px solid #aaa;
}
.chat-text-box{
  padding:10px;
  height:110px;
  background-color:#e5e5e5;
}
.chat-textarea{
  resize:none;
  width:300px;
  height:40px;
}
.single-chat{

}
.single-chat img{
  vertical-align:text-top;
}
.single-chat a{
  text-decoration:none;
  color:inherit;
}
.single-chat a:hover{
  text-decoration:underline;
}
.single-chat-content{
/*  float:left;*/

}
.chat-status{
  float:left;
}

#chat-user-show{
/*  padding:10px;*/
  position:absolute;
  width:100%;
  left:0;
  background-color:black;
  color:white;
}
#chat-user-show h2{
  padding:0;
  margin:0;
  float:left;
}
#chat-user-show a.close-show{
  display:block;
  float:right;
  color:inherit;
  text-decoration:none;
}
.chat-show-head{
  padding-left:10px;
  padding-right:10px;
}
.chat-show-yes{
  display:block;
}
.chat-show-no{
  display:none;
}

.can-mod .mod{
  display:block;
}
.can-mod .unmod{
  display:none;
}
.can-unmod .mod{
  display:none;
}
.can-unmod .unmod{
  display:block;
}

/* user#show aka profile */

.user-show-bg{
  position:absolute;
  top:0;
  z-index:-1;
  width:100%;
  height:auto;
}
.user-show-bg img{

  width:100%;
  height:auto;
}
.rel{
  position:relative;
}

.bio-overlay{
  bottom:0;
  position:absolute;
  width:100%;
  color:white;
  background-color:rgba(30,30,30,0.8);
}