<div class="new-container">
  Link to image:<input type="text" name="container[key<%= num %>][image_url]"><br>
  Image links to:<input type="text" name="container[key<%= num %>][image_url_link]"><br>
  Body: <br><textarea name="container[key<%= num %>][body]"></textarea><br><hr>
  <button class="remove-new-container" data-id="<%= num %>">Remove!</button>
</div>